<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body >
	<div align="center">
		<div style="width: 70%;padding-top: 50px;">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">拉取NITSM资产地址</label>
					<div class="layui-input-block">
						<input type="text" name="pullAssetUrl" th:value="${pullAssetUrl}" required  lay-verify="required" placeholder="请输入NITSM拉取资产地址"  class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">推送PING告警地址</label>
					<div class="layui-input-block">
						<input type="text" name="pingAlarmUrl" th:value="${pingAlarmUrl}" required  lay-verify="required" placeholder="请输入推送PING告警地址"  class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">本车站IP</label>
					<div class="layui-input-block">
						<input type="text" name="stationIp" th:value="${stationIp}"  required  lay-verify="required" placeholder="请输入本车站IP" class="layui-input">
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

<script src="/layui/layui.js"></script>
<script th:inline="none">
	
	layui.use('form', function(){
		var form = layui.form;
		var $ = layui.jquery;
		
		form.on('submit(formDemo)', function(data){
			var formData = data.field;
			
			if(formData.pullAssetUrl.indexOf("http") == -1){
				layer.msg("拉取资产地址请以http或https开头");
				return false;
			}
			if(formData.pingAlarmUrl.indexOf("http") == -1){
				layer.msg("ping告警地址请以http或https开头");
				return false;
			}
			
			//提交信息
			$.post("/sys/setting/comitConfig", {
				pullAssetUrl:formData.pullAssetUrl,
				pingAlarmUrl:formData.pingAlarmUrl,
				stationIp:formData.stationIp
			}, function (data) {
                console.log(JSON.stringify(data))
                layer.msg(data.status);          

            },"json");
			
			return false;
		});
		  
	});
</script>
</html>

<style>
	
</style>
